# LIBRARIES

In [1]:
import re

# re.search()

In [7]:
text = '''Hello World.
I love Python!!!!!
My first lucky number is 987-654-321
My second lucky number is 876-543-210
My third lucky number is 765-432-100
My fourth lucky number is 123-456-123-123-456
'''

In [4]:
# return the first match
re.search(r'\d', text)

In [8]:
# flags
re.search(r'^hello', text, flags=re.I)

# re.findall()

In [9]:
# return all matches
re.findall(r'\d', text)

['9',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '8',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '7',
 '6',
 '5',
 '4',
 '3',
 '2',
 '1',
 '0',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '1',
 '2',
 '3',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6']

In [ ]:
# match right date format MM/DD/YYYY
text = '''
13-04-2021
2021-13-04
2021-04-13
'''